{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style ="background-color:#e0e0e0" >
    <div class="container" style="text-align:center">
        <h1>Welcome!!!</h1>
        <p>You can sell your item here. Just press the button.</p>
    </div>
</div>

<div class="container"  >
    <div class="container" style="padding:75px">
        <div style="text-align:center">
            <h2>Sell new item</h2>
			<div class="control-group">
			<p style="text-align:center"><a class="btn btn-primary btn-lg" href="/new/" role="button">Sell</a></p>
			</div>
		</div>
    </div>
</div>
{% endblock %}